loglevel = "DEBUG"
mainqueue_max_size = 200

[inputs.localsyslog]
key = "local.syslog"
class = "UDPSyslogInput"
host = "localhost"
port = 5141

[inputs.reciever]
class = "LogdispatchrUDPInput"
host = "localhost"
port = 5140

[inputs.filein]
class = "TailInput"
path = "/tmp/hi"

[outputs.console_out]
class = "ConsolePrinter"

[outputs.fileout]
class = "FileOutput"
path = "/tmp/f.log"

[formatters.my_custom_format]
class = "BaseFormatter"
format_string = "{time} {key} {message}"
