loglevel = "DEBUG"
mainqueue_max_size = 200

[inputs]
[inputs.localsyslog]
key = "local.syslog"
class = "UDPSyslogInput"
host = "localhost"
port = 5141

[inputs.reciever]
class = "LogdispatchrUDPInput"
host = "localhost"
port = 5140

[outputs.console_out]
class = "ConsolePrinter"

